.user-settings-popover .ant-popover-arrow {
    display: none;
}

.user-settings-popover .ant-popover-inner-content {
    padding: 0px !important;
    border-radius: 6px !important;
    width: 230px;
}
